body{ background-color:#9B5DE5;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.Large-pizza{background-color:#F15bb5;
padding: 1em;
border: 1em;
border-radius: 20px;
margin:1em;

}
.medium-pizza{background-color: #fee440;
    padding: 1em;
    border: 1em;
    border-radius: 20px;
    margin:1em;
    }
.small-pizza{background-color:#00f5d4;
    padding: 1em;
    border: 1em;
    border-radius: 20px;
    margin:1em;
    }
.contact{background-color: #00bbf9;
    padding: 1em;
    border: 1em;
    border-radius: 20px;
    margin:1em }
    @media (min-width: 320px){
        body{ background-color:pink;}

    }
    @media (min-width: 820px) {
        body{ background-color:#9b5de5;}
        .pizza{display: flex;}
    }