body{ background-color:lightgray;}

.Large-pizza{background-color: orchid;
padding: 1em;
border: 1em;
border-radius: 20px;
margin:1em;

}
.medium-pizza{background-color: palevioletred;
    padding: 1em;
    border: 1em;
    border-radius: 20px;
    margin:1em;
    }
.small-pizza{background-color: purple;
    padding: 1em;
    border: 1em;
    border-radius: 20px;
    margin:1em;
    }
.contact{background-color: rebeccapurple;
    padding: 1em;
    border: 1em;
    border-radius: 20px;
    margin:1em }
    @media (min-width: 700px){
        body{ background-color:lightsalmon;}

    }
    @media (min-width: 820px) {
        body{ background-color:darkgoldenrod;}
        .pizza{display: flex;}
    }